[Unit]
Description=fedora-hypr first boot (user + flatpaks)
ConditionPathExists=!/var/lib/fedora-hypr/first-boot.done
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/fh-first-boot
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target
